.CountryPost {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 95%;
  margin: auto;
}

.CountryPost a {
  text-decoration: none;
}
.CountryPost a:hover,
.CountryPost a:active {
  color: #ff9068;
}
