.Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 95%;
  margin: auto;
}

.Posts a {
  text-decoration: none;
}
.Posts a:hover,
.Posts a:active {
  color: #ff9068;
}
