.country__item {
  width: 95%;
  height: 95%;
  max-height: 95%;
  max-width: 95%;
  padding: 10px;
  margin: 10px;
  background-color: #dadada;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 1rem;
}
.country__name {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 4px;
  background: #fd746c; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -o-linear-gradient(left, #ff9068, #fd746c);
  background: linear-gradient(
    to right,
    #ff9068,
    #fd746c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fafafa;
  padding: 1rem 0;
}

.country__item__data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1px 1fr 1px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4px;
}

.country__item__data__item {
  text-align: center;
  line-height: 2rem;
}

.country__item__data__item:not(:last-child) {
  border-right: 4px solid #fd746c;
}

.country__text-1 {
  font-size: 1.5em;
  color: #212121;
}

.country__text-1 .rate1 {
  font-size: 12px;
  color: #8884d8;
}

.country__text-1 .rate2 {
  font-size: 12px;
  color: #82ca9d;
}

.country__text-1 .rate3 {
  font-size: 12px;
  color: red;
}
