.Main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 98%;
  margin: auto;
}

.Main a {
  text-decoration: none;
}
.Main a:hover,
.Main a:active {
  color: #ff9068;
}

.Home {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
